.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  display: inline-block;
}
.logo-fade {
  transform: scale(500);
  transition: transform 2.5s cubic-bezier(.99999,0,1,-0.05);
}
.logo-static {
  margin: 1rem;
  transform: scale(1);
  position: absolute;
  top: 0;
  left: 0;
  filter: invert();
  transition: filter 1s;
}
.main {
  opacity: 0;
}

.main.show {
  opacity: 1;
  transition: opacity 1s;
}

:root {
  --logo-color: rgb;
}

svg .svg-elem-1 {
  stroke-dashoffset: 95.40303039550781px;
  stroke-dasharray: 95.40303039550781px;
  fill: transparent;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: var(--logo-color);
}

svg .svg-elem-2 {
  stroke-dashoffset: 171.21560510030702px;
  stroke-dasharray: 171.21560510030702px;
  fill: transparent;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: var(--logo-color);
}

svg .svg-elem-3 {
  stroke-dashoffset: 44.79917907714844px;
  stroke-dasharray: 44.79917907714844px;
  fill: transparent;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: var(--logo-color);
}

svg .svg-elem-4 {
  stroke-dashoffset: 105.7703857421875px;
  stroke-dasharray: 105.7703857421875px;
  fill: transparent;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: var(--logo-color);
}

svg .svg-elem-5 {
  stroke-dashoffset: 95.40303039550781px;
  stroke-dasharray: 95.40303039550781px;
  fill: transparent;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: var(--logo-color);
}
