
.header {
    position: relative;
}
.languages {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}
.languages a {
    margin-right: .3rem;
    margin-left: .3rem;
}
.languages img {
    max-width: 3vw;
    min-width: 20px;
}

.sections--list > a {
    text-decoration: none;
}
.sections--section {
    width: 80%;
    margin: 2rem auto;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: var(--w);
    padding: 2rem 0;
    border-radius: 8px;
    list-style: none;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    transition: background-position 500ms ease, width 300ms ease;
}
.sections--section:hover {
    transition: background-position 500ms ease, width 200ms ease;
    width: 100%;
    font-weight: 700;
}

.programming {
    background-image: url('/home/programming.jpg');

}
.programming:hover {
    background-position: left 0% bottom 0%;
}
.fitness {
    background-image: url('/home/fitness.jpg');
    background-position: top;
}
.fitness:hover {
    background-position: right 0% bottom 0%;
}
.music {
    background-image: url('/home/music.jpg');
}
.music:hover {
    background-position: left 10% bottom 25%;
}
.apogee {
    background-image: url('/home/apogee.jpg');
    background-position: bottom;
}
.apogee:hover {
    background-position: right 50% bottom 25%;
}
.other {
    background-image: url('/home/other.jpg');
    background-position: top;
}
.other:hover {
    background-position: left 25% bottom 50%;
}

@media (max-width: 1180px) {
    .intro {
        flex-direction: column;
        margin: 0;
    }
    .graphic {
        margin: 2rem auto;
        width: 90vw;
        height: 90vw;
    }
    .intro--text {
        font-size: 1.9rem;
        text-align: center;
        min-width: 70%;
        margin: .5rem auto 4rem auto;
    }
    .sections--section {
        font-size: 2rem;
    }
}
@media (max-width: 850px) {
    .intro--text {
        font-size: 1rem;
    }
    .sections--section {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}